.cartsContainer {
  height: 75vh;
  width: 70rem;
  display: flex;
  padding: 1rem;
  margin: 3.6rem 0 -1rem 0;
  background-color: rgb(205, 205, 205);
}
.cartsContainer .cartFormContainer {
  width: 20rem;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  padding: 4rem 1rem 1rem 1rem;
  border: 0.01rem solid black;
}
.cartsContainer .cartFormContainer .cartForm {
  width: 100%;
  display: flex;
  padding: 1.3rem;
  border-radius: 0.6rem;
  flex-direction: column;
  border: 0.01rem solid #ccc;
  background: linear-gradient(45deg, #a4a4a4, #ffffff, #919191);
}
.cartsContainer .cartFormContainer .cartForm label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.cartsContainer .cartFormContainer .cartForm input {
  padding: 0.6rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  border: 0.01rem solid #ccc;
  background-color: rgba(128, 128, 128, 0.638);
}
.cartsContainer .cartFormContainer .cartForm input:focus {
  outline: none;
  border-color: #007bff;
  background-color: white;
}
.cartsContainer .cartFormContainer .cartForm .buttonContainer {
  display: flex;
  justify-content: center;
}
.cartsContainer .cartFormContainer .cartForm .buttonContainer button {
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  transition: background-color 0.3s;
}
.cartsContainer .cartFormContainer .cartForm .buttonContainer button:hover {
  background-color: #0056b3;
}
.cartsContainer .cartFormContainer .cartForm .total {
  margin-top: 1.5rem;
  text-align: center;
}

.gamesContainer {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  border: 0.01rem solid black;
}
.gamesContainer h2 {
  color: white;
}

.gameContainer {
  width: 7.9rem;
  display: flex;
  margin: 0.5rem;
  height: 13.5rem;
  text-align: center;
  align-items: center;
  border-radius: 0.6rem;
  flex-direction: column;
  justify-content: center;
  border: 0.01rem solid black;
  background: linear-gradient(45deg, #a4a4a4, #ffffff, #919191);
}
.gameContainer:hover {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.327);
}
.gameContainer img {
  width: 6rem;
}
.gameContainer p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.gameContainer .quantityContainer {
  gap: 1rem;
  display: flex;
}
.gameContainer .quantityContainer button {
  color: black;
  cursor: pointer;
  width: 0.9rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
  background-color: white;
}
.gameContainer .quantityContainer button:hover {
  color: white;
  background-color: black;
}
.gameContainer .quantityContainer span {
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 47.94rem) {
  .cartsContainer {
    width: 95vw;
    height: auto;
    display: flex;
    margin: -2rem 0 7.5rem 0;
    flex-direction: column;
    background-color: transparent;
  }
  .cartsContainer .cartFormContainer {
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    background-color: transparent;
  }
  .gamesContainer {
    margin-left: -1rem;
    border: none;
    width: 95vw;
    background-color: transparent;
  }
  .gamesContainer .gameContainer {
    width: calc(50% - 1rem);
    height: 15rem;
  }
  .gamesContainer .gameContainer img {
    margin: 0.2rem 0;
    width: 80%;
  }
  .gamesContainer .gameContainer .quantityContainer button {
    font-size: 1.1rem;
    width: 1.1rem;
  }
  .gamesContainer .gameContainer .quantityContainer button:hover {
    color: black;
    background-color: rgb(246, 246, 246);
  }
  .gamesContainer .gameContainer .quantityContainer button:active {
    color: white;
    background-color: black;
  }
}/*# sourceMappingURL=cart.css.map */