.gameList {
    width: 55vw;
    gap: 1.5rem;
    display: flex;
    padding: 8rem 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    .gameItem{
        width: 11rem;
        display: flex;
        height: 17rem;
        padding: 0.5rem 0;
        position: relative;
        align-items: center;
        border-radius: 1rem;
        transition: ease 0.2s;
        flex-direction: column;
        border: 0.01rem solid black;
        background: linear-gradient(45deg, #a4a4a4, #ffffff, #919191);

        &:hover{
            box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.518);
           }
        
        &:hover {
            background-color:bisque;
        }

        .originalPrice {
            text-decoration: line-through;
            color: #ff0000;
        }
        .salePrice {
            color: #0f6400;
            margin-left: 0.5rem;
        }
        
        .imageContainer {
            margin-top: 0.5rem;
            position: relative;
            img {
                width: 80%;
                height: auto;   
                cursor: pointer;
            }
 
            .discountBadge {
                position: absolute;
                top: 0.5rem;
                right: 0.6rem;
                background-color: #f00;
                color: #fff;
                padding: 0.3rem;
                font-size: 0.8rem;
                font-weight: bold;
                border-radius: 0.2rem;
            }
        }
        
    }
    
    button {
        color: white;
        cursor: pointer;
        padding: 0.2rem;
        margin-bottom: 0.3rem;
        border-radius: 0.5rem;
        background-color: black;
        transition: 0.4s ease;
        position: absolute;
        bottom: 0;
        
        &:hover {
            color: black;
            background-color: #ffffff;
        }
    }
}

@media screen and (max-width: 47.94rem) {

    .gameList {
        gap: 1rem;
        width: 90vw;
        padding: 6rem 0;
        justify-content: center;
        background-color: transparent;

        .gameItem {
            width: 10.5rem;
            height: 17.5rem;
            font-size: 1.1rem;

            .imageContainer{
                img {
                    width: 85%;
                }
            }
        }

        button {
                font-size: 1rem;
            &:hover {
                background-color: black;
                color: white;
            }
            &:active {
                background-color: white;
                color: black;
            }
        }
    }

    
 
 }

