.gameList {
    width: 75vw;
    gap: 1.5rem;
    height: 75vh;
    display: flex;
    margin: 1.2rem;
    padding: 2rem 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
 
    
    .gameItem{
        width: 11rem;
        padding: 0.5rem 0;
        border-radius: 1rem;
        transition: ease 0.2s;
        border: 0.01rem solid black;
        background: linear-gradient(45deg, #a4a4a4, #ffffff, #919191);
        
        &:hover {
            background-color:bisque;
        }
        
        .imageContainer {
            margin-top: 0.5rem;
            img {
                width: 80%;
                height: auto;   
                cursor: pointer;
            }
        }
    }
    
    button {
        color: white;
        cursor: pointer;
        padding: 0.2rem;
        margin-top: 0.4rem;
        border-radius: 0.5rem;
        background-color: black;
        transition: 0.4s ease;
        
        &:hover {
            color: black;
            background-color: #ffffff;
        }
    }
}

h1 {
   margin-top: -2.5rem;
   color: white;
}