.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 74vh;
    
    
    h2 {
        margin-top: 14rem;
        font-size: 3rem;
        color: white;
    }
    
    button{
        padding: 0.3rem;
        cursor: pointer;
        margin: 2.5rem 0;
        font-size: 1.4rem;
        border-radius: 1rem;
        transition: 0.1s ease;
        background: linear-gradient(to right, #F9E79F, #FFD700, #B8860B);

        &:hover{
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.574);
           }
    }
    
    img {
        width: 6rem;
        animation: moveUpAndDown 1.8s infinite ease-in-out;
    }
}


@media screen and (max-width: 47.94rem) {

    .homeContainer {
        height: 77vh;
        h2 {
            font-size: 1.8rem;
            color: white;
        }

        button {
            border: 0.01rem solid black;
            color: black;
        }
    }
    
}