@import 'keyframes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeIn 0.4s ease;  
}

html, body {
    min-height:100vh;
    position: relative;
    background: linear-gradient(135deg, #2c3e50, #4ca1af, #2c3e50) no-repeat center center / cover;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: -2.5rem;
    color: white;
}

header {
    width: 100%;
    height: 3rem;
    z-index: 1000;
    position: fixed;
    padding: 0.5rem 2rem;
    background-color: #282c34;
}

nav {
    display: flex;
    justify-content: end;
    ul {
        display: flex;
        list-style: none;
        li {
            margin: 0.7rem;
            position: relative;
            a {
                text-decoration: none;
                color: white;
                font-size: 1.6rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                &:hover {
                    color: green;
                }
            }
            .cartBadge {
                position: absolute;
                top: -0.5rem;
                right: -0.1rem;
                color: white;
                font-size: 0.8rem;
                border-radius: 50%;
                padding: 0.2rem 0.5rem;
                background-color: green;
                &:hover {
                    color: green;
                    background-color: white;
                }
            }
        }
    }
}

main {
    flex: 1;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    position: absolute;
    text-align: center;
    background-color: #282c34;
}

@media screen and (max-width: 47.94rem) {
    nav {
        justify-content: space-evenly;
        ul {
            li {
                margin: 0 1.5rem;
                a {
                    margin-top: 0.7rem;
                    &:hover {
                        color: white;
                    }
                    &:active {
                        color: green;
                    }
                }
                .cartBadge {
                    top: 0.1rem;
                    right: -0.01rem;
                }
            }
        }
    }
    h1 {
        display: none;
    }
}
